<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.provider.gsf.permission.Read_GSERVICES"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MyHealth"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthManagement">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".HealthMaps"
            android:exported="false"
            android:label="@string/title_activity_health_maps" />
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAppointment"
            android:exported="false" />
        <activity
            android:name=".VaccinationCertificate"
            android:exported="false" />
        <activity
            android:name=".AppointmentForm"
            android:exported="false"
            android:label="Create New Vaccination Appointment" />
        <activity
            android:name=".IndivBullArtivity"
            android:exported="false" />
        <activity
            android:name=".BulletinActivity"
            android:exported="false" />
        <activity
            android:name=".VaccineReserActivity"
            android:exported="false"
            android:label="Appointment List" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".BMIActitvity"
            android:exported="false" />
        <activity
            android:name=".enableFP"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>